@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

@import "~dat-design/scss/base.scss";
// ugly selector needed to overwrite default styles
#choo-root.minidocs {

  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
  line-height: 1.5;
  color: $color-neutral;

  // transitions on interactive elements
  a,
  button,
  input,
  select,
  textarea {
    transition-property: background-color, color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
  }

  // .minidocs-header {
  //   margin: 0;
  // }

  // .minidocs-logo {
  //   max-height: 100px;
  //   width: inherit;
  //   display: block;
  // }

  .minidocs-content {
    // padding-bottom: 50px;
    // max-width: 48em; // sets a max-width to avoid endless lines on wide screens
  }

  .minidocs-sidebar {
    background-color: $color-neutral-10;
  }

  .minidocs-menu {
    // overwrite the "#" default style
    .h1::before {
      display: none;
    }
    // .h1, .h2, .h3 {
    //   font-weight: 400;
    // }
    // .h1, .h2 {
    //   margin-bottom: 8px;
    // }
    // .h2 {
    //   font-size: 1.4em;
    // }
    .content-link {
      transition-property: background-color, color, border-color, padding-left;
      color: $color-neutral-80;
      &:hover, &:focus {
        color: $color-neutral;
        border-left-color: transparent;
        padding-left: .65rem;
        background-color: rgba(0,0,0,.05);
      }
      &.active {
        padding-left: .65rem;
        border-left-color: $color-green-hover;
        background-color: #FFF;
      }
    }
  }

  .minidocs-header {
    background-color: $color-neutral;
  }

  /* header */
  .minidocs-header-link {
    font-size: .875rem;
    letter-spacing: 0.05em;
    color: $color-neutral-30;
    &:hover, &:focus {
      color: $color-white;
      text-decoration: none;
    }
  }

  @media screen and (max-width: $sm) {
    .hidden-on-mobile {
      display: none;
    }
  }

  .minidocs-header-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-neutral-10;
    letter-spacing: .025em;
    img {
      transition: transform .5s ease-in-out;
    }
    &:hover, &:focus {
      // color: $color-green;
      img {
        transform: rotate(360deg);
      }
    }
  }
}
